*{
  /* disable scrollbars */
  overflow: auto;               /* or overflow-y: auto */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */

  /* scroll behavior */
  scroll-behavior: smooth;

  /* disable user-selection */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

/* disable focus default css style */ 
*:focus {
  outline: none;
  box-shadow: none;
}


html, body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  height: 100vh;
  background: linear-gradient(115deg, 
      rgba(255, 255, 255, 0.8), 
      rgba(255, 245, 250, 0.8), 
      rgba(245, 255, 255, 0.8), 
      rgba(255, 255, 240, 0.8));
  background-size: 400% 400%;
  animation: iridescent 20s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@keyframes iridescent {
  0% { background-position: 0% 25%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 75%; }
}

.alert{
  position: fixed;
  top:0; 
  left:0; 
  width:100vw;
  font-size: 1em;
  text-align: center;
  background-color: rgb(223, 146, 154);
  color: rgb(158, 39, 42);
/*  border-bottom: solid 2px rgb(158, 39, 42);*/
}

h1 {
  font-size: 2.5em;
  max-height: 10vh;
  margin: 0.5em 0 0.5em;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.columns-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.0);
  position: relative; /* Optional unless stacking is needed */
  overflow: hidden;
  padding-bottom:5px; 
}

.column {
  width: 33vw;
  height: 90%;
  max-height: 90%;
  border-radius: 20px;
  margin:15px;
  overflow: hidden;
}

.column-top{
  width:100%;
  height: 60%;
  max-height: 60%;
  min-height:60%;
  height:70%;
  background-color:transparent;
  overflow: hidden;
}

.column-bottom{
  width:100%;
  max-height: 40%;
  background-color:transparent;
  overflow: hidden;
}

.column-left{
  width: 25vw;
  background-color:transparent;
}
.column-center{
  width: 45vw;
  height:calc(100%);
  background-color:transparent;

  /* design  */
  background-color:#fffeff;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);     
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;  
}

.column-right{
  width: 30vw;
  background-color:transparent;
}

.column-title{
  font-size: 1.7em;
  margin: 10px 3px 10px 3px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.grid-layout{
  max-height:100%;
  display: grid;
  place-items: center; 
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); /* Adjust 60px */
  gap: 10px; /* Space between squares */
  background-color:transparent;
  overflow-y:auto;
  padding:20px;
}

.column-layout{
  display: flex;
  flex-direction: column;
  width: 100%;             
  height: 100%;            
  overflow-y: auto;        
  align-items: stretch; 
  gap: 1px;
  background-color:transparent;
  padding: 1em;
  box-sizing: border-box;
}

.column-layout > :last-child {
  margin-bottom: 100px;
}


.spacer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  grid-column: 1 / -1;

  box-sizing: border-box;
  color: transparent;
  background-color: transparent;

  height:100px;
}

/* notepad */ 
.notepad{
  min-height:40%;
  max-height:70%;
  background-color: #fff7bb;
  border-radius:15px;
  padding:10px;

  line-height: 25px;
  font-size: 16px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 25px,
    rgba(0, 0, 0, 0.05) 25px,
    rgba(0, 0, 0, 0.05) 26px
  );
}

/* habits */
.habit {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  border-radius: 10px;
  overflow: visible;

  transition: background-color ease 0.3s;
}

.habit:hover {
  background-color: rgba(100, 100, 100, 0.05);
}

.habit.current-habit {
  background-color: rgba(170, 255, 113, 0.3);
}

.habit.current-habit::before{
  content: "▶";
  color: #333;
  text-align: right;
  width:10px;
  margin-left:-5px;
  margin-right:-5px;
  z-index: 2;
}

.habit-time-label {
  border-radius: 10px;
  color: #fefefe;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-right: 10px;
  padding:5px 20px 5px 20px;
  flex-shrink: 0;
}

.habit-description {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  color: #333;
  font-size: 1.5em;
}

/* ideas */
.idea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  
  width: 100px;      /* Fixed square size */
  height: 100px;     /* Fixed square size */
  aspect-ratio: 1;
  box-sizing: content-box;
  padding: 5px;
  margin:5px;
  background-color:#fffeff;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  transition: all ease 0.3s;
}

.idea:hover{
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      background-color: rgba(170, 255, 113, 0.3);
      transform:scale(1.2);
      z-index:2;
}

.idea h2 {
  margin: 0 0 0px 0;
  text-align: center;
  font-size: 1rem;
  overflow:hidden;
}

.idea p {
  flex-grow: 1;              
  font-size: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;  
  overflow:hidden;       
}

.empty-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  grid-column: 1 / -1;       /* 🔥 Span all columns in the grid */

  box-sizing: border-box;
  padding: 10px;
  margin: 5px;

  background-color: #fffeff;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  font-size: 1rem;

  transition: all ease 0.3s;
}

.empty-alert:hover{
  background-color: rgba(100, 100, 100, 0.05);
}

.day-score {
  flex-grow: 1;  
  display: flex;
  justify-content: center;
  align-items: center;          
  font-size: 5rem;
  overflow:hidden;

  color: #333;
}

.day-score::after {
  content: "";
  width: 1em;
  height: 1em;
  margin-left:0.2em;
  margin-right:-1.2em;
  background: url('icons/stars.svg') no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.parameters-container{
  margin-top:10px;
  gap:1px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Adjust 60px */
}

.parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  
  width: 50px;      /* Fixed square size */
  height: 50px;     /* Fixed square size */
  aspect-ratio: 1;
  box-sizing: content-box;
  padding: 5px;
  margin:5px;
  background-color:#fffeff;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  transition: all ease 0.3s;
}

.parameter:hover{
  z-index:1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(100, 100, 100, 0.05);
}

.warning{
  color: #B00020;
}
.warning:hover{
  background-color: #FDEAEA;
  color: #B00020;
}

/* mobile rendering */

@media (hover: none) and (pointer: coarse) {
/* Your touch-specific styles here */
.touched{
  z-index:1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(100, 100, 100, 0.05);
}


@media (max-width: 1000px) {
  
  .no-mobile {
    display: none !important;
  }

  .column-center{
    width: 100vw;
    height:100%;
    background-color:transparent;

    /* design  */
    background-color:#fffeff;
    backdrop-filter: none;
    border-radius: 0;
    box-shadow: none;
  }

}
